### EDA
Realizamos un análisis exploratorio de datos, utilizamos el ydata_profiling

In [2]:
import pandas as pd
from ydata_profiling import ProfileReport

train_df = pd.read_csv("application_train.csv")

# Opciones para que sea liviano
profile = ProfileReport(
    train_df.sample(20000, random_state=42) if len(train_df) > 20000 else train_df,
    title="EDA - application_train",
    minimal=True,         # desactiva análisis costosos
    explorative=True      # agrega secciones útiles
)

profile.to_file("TPML_Parte1_eda_profile.html")  # <-- abre este HTML en el navegador


# Display the first few rows of the train dataset
train_df.head()

c:\Users\60083400\AppData\Local\Programs\Python\Python312\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

100%|██████████| 122/122 [00:01<00:00, 89.32it/s]2<00:00, 87.51it/s, Describe variable: AMT_REQ_CREDIT_BUREAU_YEAR]
Summarize dataset: 100%|██████████| 128/128 [00:02<00:00, 60.52it/s, Completed]
Generate report structure: 100%|██████████| 1/1 [00:27<00:00, 27.40s/it]
Render HTML: 100%|██████████| 1/1 [00:02<00:00,  2.77s/it]
Export report to file: 100%|██████████| 1/1 [00:00<00:00,  8.67it/s]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
# Resumen: cantidad de filas y columnas
print("Cantidad de filas:", train_df.shape[0])
print("Cantidad de columnas:", train_df.shape[1])

# Tipos de datos por columna
print("\nTipos de datos:")
print(train_df.dtypes.value_counts())

# Info general de todas las columnas
print("\nResumen de tipos de datos por columna:")
print(train_df.dtypes)

# Ver también cantidad de valores nulos por columna
print("\nCantidad de valores nulos por columna:")
print(train_df.isnull().sum().sort_values(ascending=False).head(20))

Cantidad de filas: 307511
Cantidad de columnas: 122

Tipos de datos:
float64    65
int64      41
object     16
Name: count, dtype: int64

Resumen de tipos de datos por columna:
SK_ID_CURR                      int64
TARGET                          int64
NAME_CONTRACT_TYPE             object
CODE_GENDER                    object
FLAG_OWN_CAR                   object
                               ...
AMT_REQ_CREDIT_BUREAU_DAY     float64
AMT_REQ_CREDIT_BUREAU_WEEK    float64
AMT_REQ_CREDIT_BUREAU_MON     float64
AMT_REQ_CREDIT_BUREAU_QRT     float64
AMT_REQ_CREDIT_BUREAU_YEAR    float64
Length: 122, dtype: object

Cantidad de valores nulos por columna:
COMMONAREA_AVG              214865
COMMONAREA_MODE             214865
COMMONAREA_MEDI             214865
NONLIVINGAPARTMENTS_MEDI    213514
NONLIVINGAPARTMENTS_MODE    213514
NONLIVINGAPARTMENTS_AVG     213514
FONDKAPREMONT_MODE          210295
LIVINGAPARTMENTS_AVG        210199
LIVINGAPARTMENTS_MEDI       210199
LIVINGAPARTMENTS_MODE       210199
FLOORSMIN_MODE              208642
FLOORSMIN_AVG               208642
FLOORSMIN_MEDI              208642
YEARS_BUILD_AVG             204488
YEARS_BUILD_MODE            204488
YEARS_BUILD_MEDI            204488
OWN_CAR_AGE                 202929
LANDAREA_MEDI               182590
LANDAREA_AVG                182590
LANDAREA_MODE               182590
dtype: int64